<h1>LISTA DE TAREAS</h1>
<% @tasks.each do |task|%>
<ul>
  <li><% if task.completed %>
   <i class="fas fa-check-circle"></i>
   <% else %>
   <i class="far fa-circle"></i>
   <% end %>
   <%= link_to task.title, task_path(task)  %>


   <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, task_path(task),
   method: :delete,
   data: { confirm: "Are you sure?" }
   %>
 </li>
</ul>
<% end %>
<%= link_to "Click para crear Nueva Tarea", new_task_path %>
